@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
    
    --cor-principal:#2400b391;
    --cor-secundaria:#0d72236e;
    --cor-texto:#05530b;
    --cor-de-fundo:#5373cc;
    --font:"Indie Flower";
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-size: var(--font);
    height: 100vh;
    margin: 0;
}
.cabecalho{
    background-color: var(--cor-de-fundo);
    text-align: center;
}
