@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
    
    --cor-principal:#73f0a391;
    --cor-secundaria:#06945eb0;
    --cor-texto:#023015;
    --cor-de-fundo:#fd9ef8;
    --font:"Indie Flower";
    --bg-color: rgb(119, 0, 0);

}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-size: var(--font);
    height: 100vh;
    margin: 0;
}
.cabecalho{
    background-color: var(--cor-de-fundo);
    text-align: center;
}
.cabecalho_titulo{
    font-size: 2rem;
    color: var(--cor-secundaria);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a {
    text-decoration: none;
    color: var(--cor-texto);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}
.graficos-container {
    margin: 5rem; 
}
.graficos-container_texto{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    --cor-principal:#8973df91;
    border: var(--cor-principal) solid 2px;
}
span{
    font-weight: bold;
    color: var(--cor-secundaria); 
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var (--cor-principal);
    color: var(--bg-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}