@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root{
    
    --cor-principal:#8973df91;
    --cor-secundaria:#3ae7ed6e;
    --cor-texto:#bda0e2;
    --cor-de-fundo:#7089cf;
    --font:"Indie Flower";
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-size: var(--font);
    height: 100vh;
    margin: 0;
}
.cabecalho{
    background-color: var(--cor-de-fundo);
    text-align: center;
}
